<nz-alert nzDescription="npm run install @wojtek1150/jsonforms-zorro-wrapper" nzMessage="Instalation" nzShowIcon nzType="info"></nz-alert>

<nz-tabset nzTabPosition="left">
  <nz-tab [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <nz-icon nzType="check-circle" />
      DEMO
    </ng-template>
    <jsonforms
      (dataChange)="log($event)"
      [(data)]="formData"
      [config]="jsonformsConfig"
      [renderers]="renderers"
      [schema]="schema"
      [uischema]="uischema"
      (submitted)="onSubmit($event)"
      (canceled)="onCancel()"
      ></jsonforms>
  </nz-tab>
  <nz-tab nzTitle="Form Data">
    <pre><code>{{formData | json }}</code></pre>
  </nz-tab>
  <nz-tab nzTitle="HTML">
    <pre><code>{{html}}</code></pre>
  </nz-tab>
  <nz-tab nzTitle="Schema">
    <pre><code>{{schema | json }}</code></pre>
  </nz-tab>
  <nz-tab nzTitle="UI Schema">
    <pre><code>{{uischema | json }}</code></pre>
  </nz-tab>
</nz-tabset>
