nz-form-item {
  display: block;
}

.hidden {
  display: none;
}

nz-upload ::ng-deep {
  a.ant-upload-list-item-thumbnail {
    pointer-events: none;
  }

  .ant-upload-list-item-card-actions a {
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  .ant-upload.ant-upload-drag .ant-upload {
    padding: 0;
  }

  .ant-upload.ant-upload-drag .ant-upload-drag-container {
    padding: 16px 0;
  }
}
