.layout {
  height: 100vh;
  overflow: hidden;
}

.logo {
  font-family: 'Calligraffitti', cursive;
  color: #ECF0F1;
  line-height: 31px;
  font-size: 26px;
  margin: 18px 64px 0 0;
  float: left;

  span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
  }
}

.right {
  float: right;
  font-size: 32px;
  color: white;

  a {
    color: white
  }

  [nz-icon] {
    font-size: 32px;
    margin-left: 20px;
  }
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

[nz-menu] {
  float: left;
  line-height: 64px;
}

nz-content {
  margin-top: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  min-height: 100%;
  overflow: auto;
  max-height: calc(100vh - 80px);
}

nz-footer {
  text-align: center;
}

.beta {
  width: 150px;

  ::ng-deep .ant-ribbon-corner {
    display: none;
  }
}
