<nz-layout class="layout">
  <nz-header>
    <div class="logo">Zorro JsonForms</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="/">Demo</li>
      <li nz-menu-item nzMatchRouter routerLink="/docs">Docs</li>
      <li nz-menu-item nzMatchRouter routerLink="/renderers">Renderers</li>
      <li nz-menu-item nzMatchRouter routerLink="/playground">Playground</li>
    </ul>
    <div class="right">
      <a href="https://github.com/wojtek1150/json-forms-zorro-wrapper" title="https://github.com/wojtek1150/json-forms-zorro-wrapper" target="_blank"><i nz-icon nzType="github" nzTheme="outline"></i></a>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
