<h1>NgZorro Examples</h1>

<nz-alert
  nzType="info"
  nzMessage="Instalation"
  nzDescription="npm run install @wojtek1150/jsonforms-zorro-wrapper"
  nzShowIcon
></nz-alert>

<nz-tabset nzTabPosition="left">
  <nz-tab [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <i nz-icon nzType="check-circle"></i>
      DEMO
    </ng-template>

    <app-json-forms-custom></app-json-forms-custom>
  </nz-tab>
  <nz-tab nzTitle="HTML">
    <pre><code>{{demo.html}}</code></pre>
    <code>{{demo.htmlNote}}</code>
  </nz-tab>
  <nz-tab nzTitle="Schema">
    <pre><code>{{demo.schema}}</code></pre>
  </nz-tab>
  <nz-tab nzTitle="UI Schema">
    <pre><code>{{demo.uischema}}</code></pre>
  </nz-tab>
  <nz-tab nzTitle="Form Data">
    <pre><code>{{demo.formdata}}</code></pre>
  </nz-tab>
  <nz-tab nzTitle="Renderer sets">
    <nz-table nzTemplateMode>
      <thead>
      <tr>
        <th>JSON Schema</th>
        <th>Renderer</th>
        <th>Implementation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="2">boolean</td>
        <td>Checkbox</td>
        <td class="green"></td>
      </tr>
      <tr>
        <td>Toggle</td>
        <td class="green"></td>
      </tr>

      <tr>
        <td rowspan="2">integer</td>
        <td>Number</td>
        <td class="green"></td>
      </tr>
      <tr>
        <td>Text</td>
        <td class="green"></td>
      </tr>

      <tr>
        <td rowspan="2">string</td>
        <td>Text</td>
        <td class="green"></td>
      </tr>
      <tr>
        <td>Textarea</td>
        <td class="green"></td>
      </tr>

      <tr>
        <td rowspan="2">enum</td>
        <td>Dropdown</td>
        <td class="green"></td>
      </tr>
      <tr>
        <td>Autocomplete</td>
        <td></td>
      </tr>

      <tr>
        <td rowspan="2">oneOf (const / title)</td>
        <td>Dropdown</td>
        <td></td>
      </tr>
      <tr>
        <td>Autocomplete</td>
        <td></td>
      </tr>

      <tr>
        <td>Date format</td>
        <td>Date field</td>
        <td class="green"></td>
      </tr>

      <tr>
        <td>Time format</td>
        <td>Time field</td>
        <td></td>
      </tr>

      <tr>
        <td>Datetime format</td>
        <td>Datetime field</td>
        <td></td>
      </tr>

      <tr>
        <td>Object</td>
        <td>Vertical gid</td>
        <td></td>
      </tr>

      <tr>
        <td>Object</td>
        <td>Vertical gid</td>
        <td></td>
      </tr>

      <tr>
        <td>Object</td>
        <td>Vertical gid</td>
        <td></td>
      </tr>

      <tr>
        <td>Array of primitives</td>
        <td>List</td>
        <td></td>
      </tr>

      <tr>
        <td rowspan="3">Array of objects</td>
        <td>Table</td>
        <td></td>
      </tr>
      <tr>
        <td>List</td>
        <td></td>
      </tr>
      <tr>
        <td>List with detail</td>
        <td></td>
      </tr>

      <tr>
        <td>Array of Objects</td>
        <td>Multiple choice</td>
        <td></td>
      </tr>

      <tr>
        <td>oneOf</td>
        <td>Tabs</td>
        <td></td>
      </tr>

      <tr>
        <td>allOf</td>
        <td>Tabs</td>
        <td></td>
      </tr>

      <tr>
        <td>anyOf</td>
        <td>Tabs</td>
        <td></td>
      </tr>

      <tr>
        <td>Vertical Layout</td>
        <td>Vertical Grid</td>
        <td class="green"></td>
      </tr>

      <tr>
        <td>Horizontal Layout</td>
        <td>Horizontal Grid</td>
        <td class="green"></td>
      </tr>

      <tr>
        <td>Categorization</td>
        <td>Tabs</td>
        <td class="green"></td>
      </tr>

      <tr>
        <td>Group</td>
        <td>Group</td>
        <td class="green"></td>
      </tr>

      <tr>
        <td>Label</td>
        <td>Label</td>
        <td class="green"></td>
      </tr>

      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
