:host {
  display: block;
  height: 100%;
}

.layout {
  min-height: calc(100vh - 80px);
}

.right-layout {
  margin-left: 350px;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  background: #fff;
}

nz-content {
  padding: 24px;
  background: #fff;

  ::ng-deep {
    line-height: 1.75em;

    pre, table td code {
      margin: 0 1px;
      padding: 0.2em 0.4em;
      font-size: .9em;
      background: #f2f4f5;
      border: 1px solid rgba(0, 0, 0, .06);
      border-radius: 3px;
    }

    table td:nth-child(3) code {
      color: #c41d7f;
      font-size: 13px;
    }

    .required::after {
      content: ' *';
      color: #c41d7f;
    }

    .flex {
      display: flex;

      & > * {
        flex: 1;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    h2 {
      margin-top: 3em;
    }

    h3, p {
      margin-top: 30px;
      font-weight: bold;
    }

    quill-editor p {
      margin-top: 0;
      font-weight: normal
    }
  }
}
