nz-form-item {
  display: block;
}

.hidden {
  display: none;
}

.item-user {
  nz-avatar {
    width: 1.5em;
    height: 1.5em;
  }

  strong {
    display: inline-block;
    margin: 0 0.5em;
    font-weight: normal;
  }

  span {
    opacity: 0.75;
  }
}
