nz-form-item {
  display: block;
}

nz-form-control {
  position: relative;
}

.hidden {
  display: none;
}

.city-secondary-text {
  margin-left: 5px;
  opacity: 0.5;
}

.control-input {
  display: flex;
  align-items: center;
  margin-top: var(----jsfw-control-input-margin-top, calc(-1.5715em - 5px)); /* -1.5715em - line height of the input + padding + border */
  z-index: 10;
  position: absolute;
  left: 12px; /* 12px - padding + border of the input */
  pointer-events: none;
}

.state-suffix {
  margin-left: 5px;
  opacity: 0.5;
}